@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

@layer base {
  body {
    @apply bg-[#242426] bg-no-repeat bg-cover bg-center text-[#ecf0f3] w-[100%] h-[100%] m-[0] tracking-wide
  }
}